<div class="article">
          <h2><span>ADN uma proposta Inteligente</span></h2>
          
          <div>
            <p>A palavra dominante no momento em se tratando de mercado é inovar, pois são vários os caminhos e ou opotunidades que se apresentam, onde a concorrência impera soberana, aliada a velocidade das mudanças e acesso amplo as informações. Neste contexto tão abrangente e exigente, surge  a ADN Desenvolvimento Organizacional.
			Os desafios são muitos, tanto para empresas, como profissionais e quando há junção destes, temos interesses amplos e muitas vezes divergentes. É com esse olhar que a  ADN propõe disponibilizar soluções de forma objetiva e direcionadas a contribuir e porque não dizer impulsionar o desenvolvimento que as empresas necessitam em quanto organização. A ADN visa atuar no processo de sinergia das empresas quando a realização e implantação de suas soluções, pois as empresas são compostas de pessoas, conhecimentos, estruturas, recursos (tecnológicos e financeiro) e diferenciais/especificidades, que em maior ou menor grau estabelecem sua expertise de atuação.
			</p>
 			<p>As soluções são nas áreas de Remuneração, Organizacional, Financeiro, Desempenho e Assessoria Empresarial.
 			</p>
          </div>
          <div class="clr"></div>
        </div>
        