<style type="text/css">
#scroll{
	width: 690px;
	height: 700px;
	overflow: auto;
	text-align: justify;
	padding: 6px;
}

ul > li {
    margin-left: 10px;
}
</style>

<h2>Produtos/Soluções</h2>

<div id="scroll">

Disponibilizamos soluções empresariais através de ferramentas específicas que possibilitam a melhoria das organizações. Todas as ferramentas possuem metodologias próprias, que refletem a expertise das atividades desenvolvidas, aplicadas e adquiridas ao longo do tempo pelo nosso time de profissionais (Consultores).

<h4>REMUNERAÇÃO</h4>

Apresentamos três soluções bem interessantes e que possuem objetivos bem específicos.

<h5>PLANO DE CARGOS, CARREIRAS E SALÁRIOS - PCCS.</h5>
<p>
É uma ferramenta importante para o estabelecimento de uma política de remuneração, propiciando através deste a identificação da estrutura de cargos necessárias ao negócio da empresa, bem como suas competências básicas, e qual estrutura salarial compatível, observando o nível de importância destes cargos no mercado e na empresa. A mesma é fundamental para fortalecer as ferramentas de desenvolvimento profissional, pois permite a empresa ter uma estrutura de remuneração e benefícios que mantenha e atraia os bons profissionais; A SISTEMÁTICA DE PROGRESSÃO FUNCIONAL é um mecanismo que integra o Plano de Cargos, Carreiras e Salários (PCCS), pois estabelece a sistemática que propicia a progressão funcional dos colaboradores na estrutura salarial, dimensionando os critérios e condições que avaliem e regulamentem a ascensão destes em quanto estiverem na empresa.
</p>
<h4>Diferencial e Resultados</h4>

<p>
A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
</p>

<ul>
	<li>
		O método de avaliação e pontuação dos Cargos após análise e atualização dos Cargos é pelo MAS- Método de Aproximação Sucessiva, que utiliza parâmetros matemáticos e estatísticos que permitem alinhar a estrutura de salários da empresa com o mercado, observando o grau de importâncias destes;
	</li>
	<li>
		Com o MAS dispensa a formação de comitês e ganha-se tempo e qualidade no processo de pontuação, pois o mercado será sempre o referencial, mesmo que a empresa opte estrategicamente por pagar acima, por exemplo;
	</li>
	<li>
		As estruturas de Cargos são organizadas por Grupos de Atividades, que na verdade significa flexibilidade quanto a gestão dos Cargos e Salários, pois cada Grupo de Atividade possui sua própria estrutura de salários. Isso permite a empresa dotar aumentos percentuais acima do que foi estabelecido pela convenção, dissídio ou outro fator no Grupo que precise ou estrategicamente ela queira;
	</li>
	<li>
		As descrições de Cargos retratam o perfil identificado e necessário, requerido para o profissional  dada as necessidades  da empresa e o seu negócio, o que facilita a Gestão de Pessoas quando do processo de seleção/contratação.
	</li>
</ul> 



<h5>REESTRUTURAÇÃO DE CARGOS E SALÁRIOS</h5>
<p>
Visa analisar e atualizar a estrutura de cargos  e salários da empresa frente o seu negócio e estratégias, bem como referenciar o mesmo com os salários praticados no mercado, observados o porte e segmento da empresa. Não é o PCCS pelo fato de não haver política ou normas, conforme a legislação. Este serve para o corpo gestor ter uma visão completa dos cargos e salários da empresa.
</p>
<h4>Diferencial e Resultados</h4>
<p>
A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
No processo de atualização dos Cargos a equipe de RH/Gestão de Pessoas será capacitada quanto a montagem das descrições/perfil mediante a metodologia ADN;
O grande legado é a empresa conhecer os parâmetros de menor e maior salários dos Cargos existentes mediante uma tabela/estrutura salarial adequada ao negócio e condições orçamentárias e financeiras da empresa;
</p>
<p>
A empresa com esse produto/solução passa a ter um referencial tanto para implantação de variaveis de remuneração, como para a possibilidade futura de transformar o mesmo em um Plano;
Com essa atualização é inegavél as condições de análise quando das solicitações de aumento por parte dos profissionais, assim como evita a distorções  e permite a tomada de decisão adequada;
A Atualização da estrutura de Cargos e Salários sozinha não é um Plano e como tal não evita a empresa de possíveis autuações dada a legislação vigente, pois não estabelece os mecanismos de progressão, mas serve como sinalização se houver uma indicação de tempo para a realização deste;
Essa solução integra o nosso portfólio pelas demandas constantes por parte das empresas. É um passo inicial organizar e conhcer realmente a
</p>

<h5>PROGRAMA DE PARTICIPAÇÃO DOS RESULTADOS</h5>

<p>
É uma ferramenta/solução super atual, pois transforma os custos fixos em custos variáveis e de forma clara e legal.  Falar em participação nos lucros e resultados desperta desconfiança e muitas vezes aversão por parte dos interessados, empresas e funcionários. Assim a metodologia é transparente, onde não é necessariamente a empresa abrir seus lucros, mas sim baseado nestes estabelecer metas que mediante a números produzidos, comercializados e ou prestados, no caso de serviços seja partilhado valores de forma estratégica a todo corpo funcional.
</p>

<h4>Diferencial e Resultados</h4>

A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
<ul>
	<li>
		Como o próprio nome diz, trata-se de um programa e é regido pela lei LEI No 10.101, DE 19 DE DEZEMBRO DE 2000;
	</li>
	<li>
		Objeto de negociação entre a empresa e seus empregados, mediante :
	</li>
	<li>
		Período de vigência e prazos para revisão do acordo, podendo ser   considerados, entre outros, os seguintes critérios e condições;
		<ul>
			<li>I - índices de produtividade, qualidade ou lucratividade da empresa;</li>
			<li>II - programas de metas, resultados e prazos, pactuados previamente.</li>
		</ul>
	</li>
	<li>
		O instrumento de acordo celebrado será arquivado na entidade sindical dos trabalhadores;
	</li>
	<li>
		A participação nos Lucros ou Resultados não substitui ou complementa a remuneração devida a qualquer empregado, nem constitui base de incidência de qualquer encargo trabalhista, não se lhe aplicando o princípio da habitualidade;
	</li>
	<li>
		Possibilidade da adoção de indicadores de desempenho; 
	</li>
	<li>
   		individual,  equipe e organização;
	</li>
	<li>
		Melhorar a qualidade / produtividade; 
	</li>
	<li>
		Definir prioridades da empresa;
	</li>
	<li>
		Atrair e manter pessoas motivadas; 
	</li>
	<li>
		Possibilitar revisão anual de objetivos;
	</li>
	<li>
		Identificar o potencial das áreas;
	</li>
	<li>
		Comprometer toda  a empresa!
	</li>
	<li>
		Vantagens para Empregador:
		<ul>
			<li>NÃO INTEGRALIZAÇÃO AO SALÁRIO;</li>
 			<li>ISENÇÃO DE ENCARGOS TRABALHISTAS: 19, 44%;</li>
 			<li>ISENÇÃO DE ENCARGOS SOCIAIS: 39,80%.</li>
 		</ul>
 	</li>
 	<li>
		Vantagens para os Empregados:
		<ul>
			<li>ISENÇÃO DE DESCONTO DE INSS;</li>
 			<li>ISENÇÃO DE IRRF – ATÉ  R$ 6.000,00;</li>
			<li>ACIMA DE R$6.000,00 COM BASE EM TABELA ESPECÍFICA.</li>
		</ul>
	</li>
</ul>

<h4>ORGANIZACIONAL</h4>

<h5>REESTRUTURAÇÃO ORGANIZACIONAL</h5>
<p>
Sabe-se que toda empresa possui uma estrutura organizacional, formal ou informal, pois há em sua operação atividades inerentes e essenciais ao seu funcionamento. A questão reside que muitas empresas dado seu crescimento perdem o foco quanto às competências e atribuições reais das áreas, o que gera desequilíbrio de ação, podendo ser pela centralização de decisão, processos distorcidos e tantas outras questões. Desta forma é necessário o dimensionamento desta dentro da competitividade do mercado em que atua, onde as empresas só conseguem desenvolver os seus negócios com sustentabilidade a partir de um Modelo de Gestão, que esteja alicerçado em uma Estrutura Organizacional adequada, observada as suas competências, estratégias e características do negócio. Estratégias e estrutura interagem continuamente.
</p>
<p> 
Assim desenvolvemos a MALOR® Metodologia de Alinhamento Organizacional, que propõe o alinhamento das forças organizacionais da empresa, observando o nível de responsabilidades, conhecimento/técnica, tecnologia e ação(atitude) empregada em relação aos resultados esperados (por clientes, mercado, sociedade e acionistas).
</p>

<h4>Diferencial e Resultados</h4>
<p>
A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
</p>
<ul>
	<li>
		Temos como objetivos atualizar as atividades e verificar o raio das ações(atribuições), definindo em conjunto com as áreas envolvidas (profissionais/gestores) o nível de relação e controles compartilhados dos processos existentes entre as áreas em face aos resultados e aplicabilidade dos recursos envolvidos (conhecimento/técnica, pessoal, tecnologia e financeiro);
	</li>
	<li>
		Estabelecer uma linha de atuação entre as áreas, que agilize e melhore os resultados por Diretoria, podendo ser através da integração/absorção ou divisão destas (Gerências, Unidades);
	</li>
	<li>
		Permite à empresa se autoavaliar e verificar dado o nível das atribuições e objetivos por áreas, bem como complexidade e importância destas para o conjunto do negócio, quais as características e nível de gestão requerida. Tipo cabe nessa área uma Gerência, Coordenação e outro tipo de formatação frente o nível de decisão, estratégia e agilidade requerida.
	</li>
</ul>

<h4>MAPEAMENTO, ANÁLISE E DESENVOLVIMENTO DE PROCESSOS ORGANIZACIONAIS.</h4>
<p>
Todo empresa possui um quantidade variada de atividades, que distribuídas nas suas diversas áreas, compõem a sua funcionalidade/operação. A questão reside que muitas vezes a forma de fazer não é a mais indicada e ou não é da empresa, mas sim do profissional que executa. Esta solução possibilita a empresa conhecer os seus processos, bem como deter e estabelecer em conjunto com os seus profissionais, qual a melhor forma de realizar as suas atividades, o que possibilita melhoria nos resultados, bem como a geração de indicadores de produtividade efetivos. Assim desenvolvemos a MADECOMP® -Metodologia de Análise de Desenvolvimento Compartilhado de Processos;
</p>

<h5>Diferencial e Resultados</h5>

<p>
A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
</p>

<ul>
	<li>
		Mapear e analisar processos só possui eficácia se houver o envolvimento dos profissionais da empresa e é nesse ponto que atuamos, pois quem mais conhece a funcionalidade e até os possíveis gargalos são eles. A questão reside, que mudar uma situação muitas vezes mexe com interesses e estes normalmente são pessoais e não de interesse da empresa. Assim a sensibilização e principalmente a condução requer metodologia que resguardem a imparcialidade/isenção quanto à execução e que o ponto principal é técnico e que beneficie o resultado.
	</li>
	<li>
		A empresa está sempre em mutação, ou seja, evolução e neste contexto mapear e estabelecer processos é uma questão, mas sabe-se que estes também devem sempre acompanhar o ritmo da empresa. Isto requer profissionais nas diversas áreas antenados com isso e não somente uma área específica para cuidar deles. Dessa forma propomos que além da área seja formatado ou criado multiplicadores, que são profissionais capacitados para representar e atuar também com esse foco junto a sua área e a gestora. Requer mudança de atitude.
	</li>
</ul>

<h4>PESQUISA DE CLIMA ORGANIZACIONAL.</h4>

<p>
É uma ferramenta bastante efetiva quanto a sua utilização, pois cada vez mais as empresas buscam conhecer e melhorar suas relações internas. Assim está ferramenta fornece subsídios valiosos que alicerçam a tomada de decisões quanto à melhoria das relações. A grande questão não é só elaborar e realizar a pesquisa, mas sim definir e implementar o Plano de Ação.
</p>

<h5>Diferencial e Resultados</h5>

<p>
A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
</p>

<ul>
	<li>
		A metodologia possui uma forma de ação, onde as atividades de trabalho, serão realizadas de maneira compartilhada quanto a elaboração do questionário da Pesquisa de Clima com base nas informações e necessidades da organização, sendo este uniforme (comum a todos os níveis hierárquicos) e estratificado(específico por áreas) com objetivos essenciais (comuns a toda empresa) e ou específicos e que serão avaliados pela Consultoria e validados pela Gerência de Recursos Humanos ou outra designada. Este observará:
		<ul>
			<li>
				Linguagem adequada à empresa;
			</li>
			<li>
				Definição das variáveis em conjunto com a empresa;
			</li>
			<li>
				Variáveis mescladas para não revelar a intenção;
			</li>
			<li>
				Definição da escala;
			</li>
			<li>
				Validação do questionário.
			</li>
		</ul>
	</li>
	<li>
		A aplicação da Pesquisa pode ser via WEB ou em formulário impresso, conforme definição da empresa. Após a Tabulação e análise será gerados Relatórios comparativos sobre as percepções dos colaboradores da empresa dadas as variáveis analisadas, bem como cruzamentos de resultados por turno, idade, área ou outra definido no Plano Tabular;
	</li>
	<li>
		A Pesquisa gera um Plano de Ação, onde a ADN atua na orientação quanto a definição do Plano de Ação, bem como acompanhamento periódico se assim for contratado.
	</li>
</ul>


<h4>REDIMENSIONAMENTO FUNCIONAL</h4>

<p>
Esta solução possui como principio estabelecer quais os aspectos e fatores que devem ser identificados, analisados e avaliados para servirem de parâmetros que justifique a correlação entre a capacidade de produção x quantidade funcional, ou seja, quantidade de profissionais necessários, dadas as necessidades da organização. Isto  significa especificar a quantidade por Cargo, haja vista que cada Cargo possui um nível de competência e este é demandado pela área de atuação, dadas as atividades e resultados que deve produzir ou gerar. Assim desenvolvemos a Metodologia de Análise e Dimensionamento Funcional, denominada MADIF.
</p>

<h4>Diferencial e Resultados</h4>

<p>
A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
</p>

<ul>
	<li>
		É importante ressaltar que o Dimensionamento Funcional não existe para reduzir postos de trabalho, mas sim para conhecer e adequar à quantidade de postos de trabalho as necessidades da Organização, estabelecendo um Plano de Ação quanto este for necessário e em dado período de tempo para ser ajustado.
	</li>
	<li>
		Capacitação de equipe quanto a MADIF, pois após o dimensionamento funcional a empresa fica com autonomia para análise de aumento de quadro;
	</li>
	<li>
		Mapeamento da quantidade de profissionais por área versus capacidade necessária;
	</li>
	<li>
		Relatório de parâmetros que permitam dimensionar a necessidade de profissionais dado o cargo por área, observado as especificidades de cada área;
	</li>
	<li>
		A Metodologia de Análise e Dimensionamento Funcional – MADIF, foi estabelecida para analisar os fatores intrínsecos ao funcionamento da empresa, observando o seu negócio e nível das atividades realizadas em relação aos objetivos/resultados que a empresa gera e ou precisa gerar (Estratégias). Assim a análise é pautada pela identificação das principais informações e acompanhamento situacional das operações realizadas pelas áreas que compõem a empresa. Esta análise permitirá a adoção de métricas que permitam circunstanciar o nível funcional, ou seja, indicar qual o quadro padrão de funcionários mínimo e adequado ao funcionamento operacional da empresa, observando as situações pontuais, como sazonalidades.
	</li>
</ul>

<h4>FINANCEIRO</h4>

<h4>REESTRUTURAÇÃO FINANCEIRA</h4>
<p>
	Um dos maiores desafios enfrentados pelas empresas atualmente reside na busca pela qualidade das informações e controles eficientes. No que tange a área financeira muitas empresas ainda não conhecem de forma efetiva seus custos e consequentemente quais as informações gerenciais pertinentes para a tomada de decisão. Dessa forma analisar e estabelecer quais os controles e relatórios financeiros adequados dado o negócio da empresa é o que se propõe frente as condições e situações existentes.
</p>
<p>
	Aliar informações, pessoas, controles e tecnologia quanto à gestão dos recursos financeiros da empresa, tanto de entrada como saídas é essencial.
</p>

<h5>Diferencial e Resultados</h5>
<p>
	A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
</p>
<ul>
	<li>
		Conhecer os aspectos de funcionalidade da área financeira em relação ao negócio, observando as necessidades e condições existentes (tecnologia, pessoal e processos);
	</li>
	<li>
		Mapeamento e coleta das informações financeiras, identificando e avaliando os controles existentes com abordagem das Contas (Entradas e Saídas), organiza-las em um Plano de Contas Financeiro adequado, observando o Plano Contábil;
	</li>
	<li>
		Avaliação de Contas a Pagar e Receber, bem como a qualidade dos registros e mecanismos de informações, como sistema e relatórios;
	</li>
	<li>
		Atualização e ou adequação do Fluxo de Caixa, conforme aspectos técnicos financeiros, bem como análise pelo Regime de Caixa e Competência da empresa;
	</li>
	<li>
		Avaliação dos processos básicos existentes que facilitem à operacionalização da área quanto à sistemática de recebimento e pagamento dada a natureza do negócio;
	</li>
	<li>
		Avaliação da sistemática de cobrança e quais os ajustes necessário ao seu funcionamento;
	</li>
	<li>
		Estabelecimento do modelo de atuação financeira ajustado, onde os profissionais serão orientados quanto as possíveis mudanças, onde consta a sensibilização e recomendações quanto os recursos existentes (pessoa, 
		tecnologia e estrutura).
	</li>
</ul>

<h4>DESEMPENHO</h4>

<h4>AVALIAÇÃO DE DESEMPENHO</h4>

<p>
	É cada vez mais consensual que as Organizações necessitam de trabalhadores com um perfil profissional compatível com os requisitos demandados pelas novas configurações do mundo do trabalho. Esse perfil, de modo geral, baseia-se na versatilidade dos profissionais para acompanhar as constantes mudanças que ocorrem nos ambientes de trabalho, na capacidade de atuar em equipes, de se expressar com clareza, de resolver problemas de forma fundamentada, dentre outras características (Harvey, 1993; Sousa Santos, 1997).
</p>
<p>
	A avaliação de desempenho pode determinar o sucesso ou fracasso pessoal, profissional ou organizacional em quanto processo de desenvolvimento se o mesmo não for compreendido, assimilado e aplicado de forma efetiva.  Neste sentido a nossa metodologia visa uma abordagem sistêmica, objetiva e compartilhada, onde têm-se a SAD- Sistemática de Avaliação de Desempenho.
</p>

<h5>Diferencial e Resultados</h5>
<p>
	A nossa Metodologia possui uma abordagem objetiva e alinhada ao negócio da empresa:
</p>
<ul>
	<li>
		As competências identificadas na Empresa (áreas) estão presentes e coerentes e se o seu nível de proficiência e qualificação está em evolução;
	</li>
	<li>
		Identificar pontos fortes e oportunidades de melhoria no desempenho dos profissionais, visando à implementação de ações adequadas;
	</li>
	<li>
		Dotar os gestores de uma ferramenta para o gerenciamento de seu capital humano, principalmente com relação ao desenvolvimento de suas equipes;
	</li>
	<li>
		Subsidiar com informações relevantes outros subsistemas de Capital Humano, a exemplo de Desenvolvimento & Capacitação e Gestão de Carreira;
	</li>
	<li>
		Assegurar que o desempenho individual seja avaliado de maneira consistente e que seja instrumento de progressão funcional;
	</li>
	<li>
		Aumentar e o comprometimento dos colaboradores;
	</li>
	<li>
		Implantar cultura de feedback contínuo.
	</li>
</ul>


<h4>PLANEJAMENTO ESTRATÉGICO</h4>

<h4>ASSESSORIA EMPRESARIAL</h4>

<h4>APOIO CONSULTIVO A GESTÃO</h4>
<p>
	Os desafios diários impostos as empresas e seus gestores pelo mercado são os mais variados possíveis. Neste sentido gerir uma empresa requer muito mais que conhecer o negócio, mas sim compreender os movimentos e circunstâncias que se inserem no processo de gestão, onde podemos listar alguns, como competências, pessoas, tecnologia, comportamento e soluções. Assim contar com um olhar diferenciado, isento e técnico, muitas vezes faz toda diferença, pois as situações e informações são analisadas com uma propriedade mais abrangente, onde os argumentos de decisão vão além dos fatos, pois há questionamentos que avaliam e validam as possíveis consequências.
</p>

<h5>Diferencial e Resultados</h5>
<ul>
	<li>
		Apoio consultivo dada a necessidade crucial da empresa, podendo ser em nível especialista quando se tratar de determinado assunto, na área financeira, de pessoal e outros;
	</li>
	<li>
		Possui o objetivo de desenvolver e alinhar os gestores quanto a tomada de decisão, onde não se olha apenas as questões especificas de cada área, mas o conjunto em relação aos objetivos e prioridades;
	</li>
	<li>
		Provoca os gestores quanto a cultura existente e quais os pontos que devem 
	</li>
</ul>

</div>
